/* 
容器的属性（6个）
flex-direction
flex-wrap
flex-flow
justify-content
align-items
align-content 
*/

/* 
项目的属性（6个）
order
flex-grow
flex-shrink
flex-basis
flex
align-self
*/

.flex-direction {
  /* The direction text is laid out in a line */
  flex-direction: row;

  /* Like <row>, but reversed */
  flex-direction: row-reverse;

  /* The direction in which lines of text are stacked */
  flex-direction: column;

  /* Like <column>, but reversed */
  flex-direction: column-reverse;

  /* Global values */
  flex-direction: inherit;
  flex-direction: initial;
  flex-direction: unset;
}

.flex-wrap {
  flex-wrap: nowrap;  /* Default value */
  flex-wrap: wrap;
  flex-wrap: wrap-reverse;

  /* Global values */
  flex-wrap: inherit;
  flex-wrap: initial;
  flex-wrap: unset;
}

.flex-flow {
  /* flex-flow: <flex-direction> || <flex-wrap>; */
  flex-flow: column-reverse wrap;
}

.justify-content {
  /* Positional alignment */
  justify-content: center;     /* 居中排列 */
  justify-content: start;      /* Pack items from the start */
  justify-content: end;        /* Pack items from the end */
  justify-content: flex-start; /* 从行首起始位置开始排列 */
  justify-content: flex-end;   /* 从行尾位置开始排列 */
  justify-content: left;       /* Pack items from the left */
  justify-content: right;      /* Pack items from the right */

  /* Baseline alignment */
  justify-content: baseline;
  justify-content: first baseline;
  justify-content: last baseline;

  /* Distributed alignment */
  justify-content: space-between;  /* 均匀排列每个元素
                                    首个元素放置于起点，末尾元素放置于终点 */
  justify-content: space-around;  /* 均匀排列每个元素
                                    每个元素周围分配相同的空间 */
  justify-content: space-evenly;  /* 均匀排列每个元素
                                    每个元素之间的间隔相等 */
  justify-content: stretch;       /* Distribute items evenly
                                    Stretch 'auto'-sized items to fit
                                    the container */

  /* Overflow alignment */
  justify-content: safe center;
  justify-content: unsafe center;

  /* Global values */
  justify-content: inherit;
  justify-content: initial;
  justify-content: unset;
}

.align-items {
  /* Basic keywords */
  align-items: normal;
  align-items: stretch;

  /* Positional alignment */
  align-items: center; /* Pack items around the center */
  align-items: start; /* Pack items from the start */
  align-items: end; /* Pack items from the end */
  align-items: flex-start; /* Pack flex items from the start */
  align-items: flex-end; /* Pack flex items from the end */
  align-items: self-start;
  align-items: self-end;

  /* Baseline alignment */ 
  align-items: baseline;
  align-items: first baseline;
  align-items: last baseline; /* Overflow alignment (for positional alignment only) */
  align-items: safe center;
  align-items: unsafe center;

  /* Global values */
  align-items: inherit;
  align-items: initial;
  align-items: unset;
}

.align-content {
  /* 基本位置对齐 */
  /*align-content不采用左右值 */
  align-content: center;     /* 将项目放置在中点 */
  align-content: start;      /* 最先放置项目 */
  align-content: end;        /* 最后放置项目 */
  align-content: flex-start; /* 从起始点开始放置flex元素 */
  align-content: flex-end;   /* 从终止点开始放置flex元素 */

  /* 默认对齐 */
  align-content: normal;

  /*基线对齐*/
  align-content: baseline;
  align-content: first baseline;
  align-content: last baseline;

  /* 分布式对齐 */
  align-content: space-between; /* 均匀分布项目
                                  第一项与起始点齐平，
                                  最后一项与终止点齐平 */
  align-content: space-around;  /* 均匀分布项目
                                  项目在两端有一半大小的空间*/
  align-content: space-evenly;  /* 均匀分布项目
                                  项目周围有相等的空间 */
  align-content: stretch;       /* 均匀分布项目
                                  拉伸‘自动’-大小的项目以充满容器 */

  /* 溢出对齐 */
  align-content: safe center;
  align-content: unsafe center;

  /* 全局属性 */ 
  align-content: inherit; /* 继承 */
  align-content: initial;  /* 初始值 */
  align-content: unset; /* 未设置 */
}



/*  */


.order {
  /* Numerical value including negative numbers */
  order: 5;
  order: -5;

  /* Global values */
  order: inherit;
  order: initial;
  order: unset;
}

.flex-grow {
  flex-grow: 5; /* default 0 */
}

.flex-shrink {
  flex-shrink: 0; /* default 1 */
}

.flex-basis {
  /* 指定<'width'> */
  flex-basis: 10em;
  flex-basis: 3px;
  flex-basis: auto;

  /* 固有的尺寸关键词 */
  flex-basis: fill;
  flex-basis: max-content;
  flex-basis: min-content;
  flex-basis: fit-content;

  /* 在flex item内容上的自动尺寸 */
  flex-basis: content;

  /* 全局数值 */
  flex-basis: inherit;
  flex-basis: initial;
  flex-basis: unset;
}

.flex {
  /* Basic values */
  flex: auto;
  flex: initial;
  flex: none;
  flex: 2;

  /* One value, unitless number: flex-grow */
  flex: 2;

  /* One value, width/height: flex-basis */
  flex: 10em;
  flex: 30px;

  /* Two values: flex-grow | flex-basis */
  flex: 1 30px;

  /* Two values: flex-grow | flex-shrink */
  flex: 2 2;

  /* Three values: flex-grow | flex-shrink | flex-basis */
  flex: 2 2 10%;

  /* Global values */
  flex: inherit;
  flex: initial;
  flex: unset;
}

.align-self {
  align-self: auto;
  align-self: flex-start;
  align-self: flex-end;
  align-self: center;
  align-self: baseline;
  align-self: stretch;
}

















