/* transition CSS 属性是 
  transition-property，
  transition-duration，
  transition-timing-function 
  和 transition-delay 
  的一个简写属性。 */
.transition {
  /* Apply to 1 property */
  /* property name | duration */
  transition: margin-right 4s;

  /* property name | duration | delay */
  transition: margin-right 4s 1s;

  /* property name | duration | timing function */
  transition: margin-right 4s ease-in-out;

  /* property name | duration | timing function | delay */
  transition: margin-right 4s ease-in-out 1s;

  /* Apply to 2 properties */
  transition: margin-right 4s, color 1s;

  /* Apply to all changed properties */
  transition: all 0.5s ease-out;

  /* Global values */
  transition: inherit;
  transition: initial;
  transition: unset;
}


/* transition-property 指定应用过渡属性的名称。 */
.transition-property {
  /* Keyword values */
  transition-property: none;
  transition-property: all;
  transition-property: test_05;
  transition-property: -specific;
  transition-property: sliding-vertically;

  transition-property: test1;
  transition-property: test1, animation4;
  transition-property: all, height, all;
  transition-property: all, -moz-specific, sliding;

  /* Global values */
  transition-property: inherit;
  transition-property: initial;
  transition-property: unset;
}


/* transition-duration 属性以秒或毫秒为单位指定过渡动画所需的时间。默认值为 0s ，表示不出现过渡动画。 */
.transition-duration {
  /* <time> 值 */
  transition-duration: 6s;
  transition-duration: 120ms;
  transition-duration: 1s, 15s;
  transition-duration: 10s, 30s, 230ms;

  /* 全局值 */
  transition-duration: inherit;
  transition-duration: initial;
  transition-duration: unset;
}


/* 曲线 */
.transition-timing-function {
  transition-timing-function: ease;
  transition-timing-function: ease-in;
  transition-timing-function: ease-out;
  transition-timing-function: ease-in-out;
  transition-timing-function: linear;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  transition-timing-function: step-start;
  transition-timing-function: step-end;
  transition-timing-function: steps(4, end);

  transition-timing-function: ease, step-start, cubic-bezier(0.1, 0.7, 1.0, 0.1);

  transition-timing-function: inherit;
}


/* 等待时间 */
.transition-delay {
  /* <time>?值 */
  transition-delay: 3s;
  transition-delay: 2s, 4ms;

  /* 全局变量 */
  transition-delay: inherit;
  transition-delay: initial;
  transition-delay: unset;
}